body {
 background-image: url(art-club-background.jpg);
  background-repeat: no-repeat;
  background-pistion: center;
  background-attachment: fixed;
 background-size: cover;
}


p {
font-family: impact;
 
}
